body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black; /* Set background to plain black */
}

canvas {
    display: block;
    background-color: transparent; /* Make canvas transparent */
}

#sliderContainer {
    position: fixed; /* Changed to fixed for consistent positioning */
    bottom: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#frequencySlider {
    width: 150px;
}

#scoreDisplay {
    position: fixed;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#infoDisplay {
    position: fixed;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 15px;
}

.neon-blue {
    filter: drop-shadow(0 0 10px #00f) drop-shadow(0 0 20px #00f);
}

.neon-red {
    filter: drop-shadow(0 0 10px #f00) drop-shadow(0 0 20px #f00);
}

.neon-yellow {
    filter: drop-shadow(0 0 10px #ff0) drop-shadow(0 0 20px #ff0);
}
